/***********************
*       ROLAGEM        *
***********************/
body{ /*tratamento da rolagem do site*/
    overflow-x: hidden;
}

/***********************
*       1ª FUNDO       *
***********************/



/***********************
*                      *
***********************/
#imghome{
    padding-top: 15%;
    padding-bottom: 2%;
}

.hero-text{ /*Frase de efeito*/
    color: white;
    margin-bottom: 25px;
}

.btn{ /*tratamento do botão*/
    padding: 5px 20px;
    margin-right: 10px; 
    margin-left: 10px;
}

.header-buttons a{ /*letras dentro do botão*/
    color: white;
    transition: all 0.5s ease-in;
}

.header-buttons a.btn-full:hover{ /*tratamento de dentro do botão full*/
    background-color: #ffdd15;
    color: black;
}

.header-buttons a.btn-half:hover{ /*tratamento de dentro do botão half*/
    background-color: #ffdd15;
    color: black;
}


/***********************
*       NAVBAR        *
***********************/
.navbar{
    background-color: black;
}

a {
    color:white;
    text-decoration: none;
    background-color: transparent;
}

.nav-item{
    text-align: center; /*Posição*/
    padding: 2px;
}
.nav-link{
    font-size: 20px; /*Tamanho dos itens*/
    transition: 1s all ease;
}

.nav-link:hover{
    color: #ffdd15;
}



/***********************
*       ATLETAS       *
***********************/

.testimonials{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url();
    height: 102vh;
    background-position: center;
    background-size: cover;
}

.atletas{
    color: white;
    margin-top: -4%;
}

#card-atleta{
    text-align: center;
    width: 65%;
    height: 95%;
}

.card-title{
    text-align: center;
}


/***********************
*       Modal       *
***********************/

#bot1{
    text-align: center;
}

#exampleFormControlFile1{
    margin-left: 10%;
}

#exampleFormControlSelect1{
    margin-left: 25%;
    text-align: center;
    width: 50%;
    height: 25%;
}

#inputNome{
    width: 300px;
    margin-left: 15%;
}

.col-form-label {
    height: 10px;
    margin-left: 30px;
  }

.col-sm-10{
    margin-left: 50px;
}

#add{
    margin-top: 10px;
    text-align: center;
    height: 35px;
}

#icon{
    color: white;
    font-weight: bold;
}

#sair{
	width: 20px;
	height: 30px;
	font-size: 17px;
	margin-left: 2px;
	font-weight: bold;
    color: #000000;
}

#enviar{
    margin-left: -1px;
    margin-top: -5px;
    background-color: #000000;
    color: white;
    font-weight: bold;
    width: 130px;
    height: 35px;

}

/****************
*     NAVBAR    *
****************/


* {
    box-sizing: border-box;
}

.navbar {
    background-color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	height: 60px;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.mb-3, .my-3{
	margin-left: 1000px;
	margin-top: -30px;
}

#tt{
    margin-top: 100px;
    text-align: center;
}

#tb{
    text-align: center;
}

#tr{
    background-color: #778899;
}

#th1{
    width: 500px;
}

#th2{
    width: 180px;
}

#th3{
    width: 180px;
}

#th4{
    width: 180px;
}

#th5{
    width: 180px;
}

#th6{
    width: 140px;
}

#th7{
    width: 140px;
}